<div class="place">
  <img class="result" src="" alt=""/>
  <img class="cat" src="" alt=""/>
  <h3 class="result">{{placeName}}</h3>
  <h4 class="result">{{address}}</h4>
  <h4 class="result">{{city}}, {{country}}, {{continent}}</h4>
  <p class="result">{{description}}</p>
</div>