<div class="place_result">
  <img class="result" src="/uploads/{{imageFilename}}" alt=""/>
  
  <img class="cat" src="" alt=""/>
  
  <h3 class="result">{{placeName}}</h3>
  <h5 class="result">{{address}}</h5>
  <h5 class="result">{{city}}, {{country}}, {{continent}}</h5>
  <p class="result">{{description}}</p>
</div>